body {
    background-color: rgb(85, 100, 84);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
  }


  h1 {
    font-size: 5rem;
    text-align: center;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(246, 239, 216);

  }
  /*******************************************************************/
/*nav bar*/

 
  

  @media screen and (min-width:1100px) {
    #full-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      
    }
    
    #full-nav li {
      float: inline-start;
      font-size: 20px;
      
  
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family:"Work Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
    
    }
  
    li a:hover {
      background-color: rgb(130, 95, 129);
    }

    #dropdown-nav {
      display:none;
    }
    /* #burger-nav {
      height:0;
    }

    #dropdown-menu{
      display:none;
    } */

  }

  @media screen and (max-width:1099px) {
    #full-nav {
      display:none;
    }
    
    #burger-nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      height:fit-content;
      
    }
  
    #burger-button {
      color:rgb(246, 239, 216);
      font-size: 110px;
      margin-left:50px;
     
    }
    
    #dropdown-menu {
      color: white;
      text-align: center;
      padding: 0px 14px 10px 16px;
      text-decoration: none;
      font-family: "Work Sans", sans-serif;
      font-weight:200;
      font-style: normal;
      width: 100%;
      list-style-type: none;
      font-size: 60px;
      background-color:#333 ;
      margin-top:0;
    }

    #dropdown-nav {
      display:block;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family:"Work Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
    
    }
  
    li a:hover {
      background-color: rgb(130, 95, 129);
    }
  }

 

  
  

/*******************************************************************/
  /* about me */
 #about-me-img1 {
    height: 50rem;
    width:auto;
    border-radius: 8px;
    margin-right: 5rem;        
}


#about-me-content{
    font-family:  "Work Sans", sans-serif;;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    margin-left: 8rem;
    color:rgb(246, 239, 216);
  
  

}

@media screen and (min-width: 1100px) {
  
  .about-me-container {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 40px;
    margin-left: 1rem;
}


}

@media screen and (max-width:1099px) {

#about-me-img-1-container {
  text-align: center;
}

#about-me-content{
  font-family:"Work Sans", sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-left: 2rem;


}
#about-me-img1 {
  height: 50rem;
  width:auto;
  border-radius: 8px;
  margin:auto;
}



}

/*******************************************************************/
/*home page */

#homepage-background {
background-image: url("background.png");
height:20rem;
}



#homepage-title {
  /* font-size: 7rem; */
    text-align: center;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(246, 239, 216);
    /* margin-top:10rem; */
    /* margin-bottom: 1rem; */
}

/* Homepage media queries */
@media screen and (min-width: 1500px) {
 

  #homepage-tagline{
    margin-bottom:35rem;
    margin-top:10rem;
    font-size: 3.5rem;
    }

  #homepage-title{
  margin-top:10rem;
  font-size: 7rem;
}

}


@media screen and (max-width: 1499px) and (min-width: 1250px) {
 

  #homepage-tagline{
    margin-bottom:35rem;
    margin-top:10rem;
    font-size: 3rem;

    }
    #homepage-title{
      margin-top:10rem;
      font-size: 7rem;
    }

}


@media screen and (max-width: 1249px) and (min-width: 1100px) {
 
  #homepage-tagline{
  margin-bottom:15rem;
  margin-top:1rem;
  font-size: 2rem;
  }

  #homepage-title{
    margin-top:10rem;
    font-size: 7rem;
  }
}

@media screen and (max-width: 1099px) and (min-width: 1025px) {
 
  #homepage-tagline{
  margin-bottom:5rem;
  margin-top:15rem;
  font-size: 4rem;
  }

  #homepage-title{
    margin-top:10rem;
    font-size: 7rem;
  }
}



@media screen and (max-width: 1024px) and (min-width: 700px) {
  #homepage-tagline{
    margin-bottom:5rem;
    margin-top:15rem;
    font-size: 3rem;
    }
  
    #homepage-title{
      margin-top:10rem;
      font-size: 7rem;
    }
}

@media screen and (min-width: 700px) {
  #creative-space-section{
    display:flex;
    gap:40px;
  
  }

  .carousel {
    width:50vw;
    height:70vh;
    position: relative; 
    margin-left:1rem;
  }
}

@media screen and (max-width: 699px) {

  #creative-space-section{
    /* display:block; */
     align-items: center; 
   
    
  
  }

  .carousel {
    display: block;
    width:50vw;
    height:70vh;
    position: relative; 
    margin-left:1rem;
  }
  
  #homepage-tagline{
    margin-bottom:5rem;
    margin-top:1rem;
    font-size: 1rem;
    }

  #homepage-title{
    margin-bottom: 1rem;
    margin-top:2rem;
    font-size: 2rem;
    }

} 

/******************************************/

#homepage-tagline {
    font-family:"Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-size: 3.5rem; */
    text-align: center;
    /* margin-bottom:35rem;
    margin-top:10rem; */
  

}



#services-content-title{
  font-family:"Work Sans", sans-serif;;
  font-weight: 500;
  font-style: normal;
  font-size: 5rem;
  text-decoration: none;
  color: rgb(246, 239, 216);

}


#services-content-info {
  font-family:"Work Sans", sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  margin-right:40px;
}



#design-services-link {
  font-family:"Work Sans", sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(246, 239, 216);

}


/*home page image carousel settings*/


.carousel > ul {
  list-style: none;
}



.slide {
  position: absolute;
  inset: 0;
  opacity:0;

}

.slide > img {
  display:block;
  width:100%;
  height:100%;
  object-fit: cover; /*maintain object ratio*/
}

.slide[data-active] {
  opacity:1;
}

.carousel-button {
  position:absolute;
  z-index: 2;
  background:none;
  border:none;
  font-size: 4rem;
  top:50%;
  transform: translateY(-50%); /*pushes arrows back to the center*/
  cursor: pointer;
  color:rgba(255, 255, 255, .5);
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .3);

}

.carousel-button:hover,
.carousel-button:focus {
  color:white;
  background-color: rgba(0, 0, 0, .6);
}

.carousel-button.prev {
  left:1rem;
}

.carousel-button.next {
  right:1rem;
}


#homepage-content {
  font-family: "Work Sans", sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  margin-bottom:3rem;
  margin-top:15rem;
  background-color: rgb(111, 137, 124);
  padding:3rem;
  color:rgb(246, 239, 216);

}

#letsconnect-title {
  font-family:"Work Sans", sans-serif;;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  margin: 2rem;

}

#letsconnect-content {
  font-family:"Work Sans", sans-serif;;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  margin-right:40px;


}

#letsconnect-image {
  height:50vh;
  width:30vw;
  object-fit:cover;
  margin-bottom:3rem;
}

.letsconnect-container {
  display:flex;
  gap:40px;
  margin-left: 3rem;
  margin-right:3rem;
}

#instagramtag {
  height:3rem;
  width:3rem;
}

/*******************************************************************/


/* gallery page */

.gallery-page-container{
  margin:20px;
  padding:0;
  text-align: center;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows:100px 300px;
  grid-gap:10px;
  grid-auto-flow:dense; /*fills in any holes*/
}



.gallery-item{
  width: 100%;
  height: 100%;
  position: relative;

}

.gallery-item .image{
  width:100%;
  height: 100%;
  overflow: hidden;
}
 
.gallery-item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%; /*centers the image in case it doesnt fit the sizing*/
  cursor: pointer; /*hand on hover*/
  transition: .5s ease-in-out;

}

/*enlage image on hover*/
.gallery-item:hover .image img{
  transform: scale(1.5);
}

/*gallery images text settings*/

.gallery-item .gallery-img-title{
  opacity:0; /*wont see until hovered*/
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%); /*sliding text backwards to make text true centered*/
  color:rgb(246, 239, 216);
  font-size: 25px;
  pointer-events: none; /*wont interfere with on click events prior to this*/
  z-index:4; /*text stays infront of image */
  transition: .3s ease-in-out;
}

.gallery-item:hover .gallery-img-title{
  opacity:1; /*opacity is fading to 1 on hover*/
  animation: move-down .3s linear;
  padding:1em;
  width:100%;
}

/*width span settings*/
.w-1 {
  grid-column: span 1;

}

.w-2 {
  grid-column: span 2;

}


.w-3 {
  grid-column: span 3;

}


.w-4 {
  grid-column: span 4;

}


.w-5 {
  grid-column: span 5;

}


.w-6 {
  grid-column: span 6;

}

/*height span settings*/
.h-1 {
  grid-row: span 1;

}

.h-2 {
  grid-row: span 2;

}

.h-3 {
  grid-row: span 3;

}

.h-4 {
  grid-row: span 4;

}

.h-5 {
  grid-row: span 5;

}

.h-6 {
  grid-row: span 6;

}

@media screen and (max-width:700px){
  
  .gallery-page-container{
    grid-template-columns: repeat(2,1fr);
}


}

/*animation setting for move down function*/
@keyframes move-down{
  0% {
    top:10%
  }

  50% {
    top:35%
  }

  100% {
    top:50%
  }
}

/*******************************************************************/
/*services page*/



@media screen and (max-width:1099px) {
  .services-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:10px;
    grid-row-gap:10px ;
    margin-left: 45px;
    margin-right: 45px;
  }

  .service-image:hover  {
    transform: scale(1.5); 
    display:block;
    width:100%;
  
  }

}

@media screen and (min-width:1100px) {
  .services-grid-container {

    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:10px;
    grid-row-gap:10px ;
    margin: auto;
    width: fit-content;
    
  }


  .service-image {
    width:15rem;
    height:auto;
    margin:auto;
  }

  .service-image:hover  {
    transform: scale(1.1); 
    border:black 1px solid;
  
  }
}



#services-tagline {
  
  font-family:"Work Sans", sans-serif;;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  text-align: center;
  margin-bottom:3rem;
  margin-top:5rem;
  background-color: rgb(111, 137, 124);
  padding:3rem;
    
  
}


.process-title {
  font-family:"Work Sans", sans-serif;;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  margin-left:40px;
  margin-right:40px;
  text-decoration:underline;
}

.process-content{
  font-family:"Work Sans", sans-serif;;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  text-decoration: none;
  color: rgb(246, 239, 216);
  margin-bottom:40px;
  margin-top:20px;
  margin-left:100px;
  margin-right:100px;

}

/*********************************************
/* Contact me page */

/* #contact-form{
  margin:auto;
  width:fit-content;

} */

#contact-project-title{
  font-family:"Work Sans", sans-serif;;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(246, 239, 216);
  text-align: center;
  /* margin-bottom:3rem; */
  margin-top:5rem;
  background-color: rgb(111, 137, 124);
  padding:3rem;
}

.contact-container {
  /* height:100vh; */
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  margin-top: auto;
  

}

.contact-left{
  display:flex;
  flex-direction: column;
  align-items:start;
  gap: 20px;
  height:70rem;
 

}

/* .contact-left-title {
  font-family:"Work Sans", sans-serif;;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-decoration: none;
  color: rgb(246, 239, 216);

} */

.contact-left-title hr{
  border:none;
  width: 20px;
  height: 5px;

}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color:rgb(85, 60, 84);
  border-radius: 50px;


}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius:20px;
}

.contact-inputs:focus{
  border:2px solid black
}

.contact-inputs::placeholder{
  color:rgb(118, 87, 117);

}

.contact-left button{
  display:flex;
  align-items: center;
  padding: 15px 30px;
  color:black;
  gap: 10px;
  border: none;
  border-radius:50px;

}

@media (max-width:800px) {
  .contact-inputs {
    width:100vw;
  }
  .contact-container {
    
  }
}
